<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbkvV60iqONws__knHuIVHnWfaZw6oGWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>741879461041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beaconApp</string>
	<key>PROJECT_ID</key>
	<string>tarutarutest-b016e</string>
	<key>STORAGE_BUCKET</key>
	<string>tarutarutest-b016e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741879461041:ios:a7ae86cb17d5d1c9165e90</string>
</dict>
</plist>